name: WP.com Deploy Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"

      - name: Build plugin
        run: php build-simple.php

      - name: Upload artifact (deploy)
        uses: actions/upload-artifact@v4
        with:
          name: deploy
          path: build/dobity-baterky

      - name: Upload artifact (wpcom-deploy)
        uses: actions/upload-artifact@v4
        with:
          name: wpcom-deploy
          path: build/dobity-baterky
